<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @snippet.content %>
</p>

<p>
  <strong>Private:</strong>
  <%= @snippet.private %>
</p>

<%= link_to 'Edit', edit_snippet_path(@snippet) %> |
<%= link_to 'Back', snippets_path %>
